/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 20, 2020, 3:58:30 PM
    Author     : Juulia
*/


.view-os2intra-organisation-business-cards-block .views-exposed-form.os2-box {
  margin-top: -15px;
  padding-bottom: 20px;
}

.view-os2intra-organisation-business-cards-block .views-exposed-form .form-control {
  background-color: transparent;
  border: 1px solid #008DAA;
  padding-left: 35px;
}
.view-os2intra-organisation-business-cards-block .views-exposed-form .form-item-combine::before {
  font-family: "FontAwesome";
  content: "\f040";
  position: absolute;
  top: 8px;
  left: 20px;
}
.view-os2intra-organisation-business-cards-block .views-exposed-form .form-item-combine {
  position: relative;
}
.view-os2intra-organisation-business-cards-block .views-exposed-form .views-widget-filter-combine {
  width: 100%;
}
.views-field-field-os2intra-bcard-text {
  padding-bottom: 20px;
}
